@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
html {
  padding: env(safe-area-inset); 
}

body {
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #808080;
    display: grid;
    justify-items: center;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Lovelo black";
  src: url('./media/Lovelo/Lovelo\ Black.otf');
}

::selection {
  background: rgba(109, 109, 109, 0.644);
}
a{
    text-decoration: none;
    color: white;
}

#canvas{
  top: 0;
  left:0;
    width: 100%;
    height: 123%;
    position: fixed;
}

.Transparentbg{
  background-color: #d2dbe3b2;
  width: 100%;
  height: 123vh;
  position: absolute;
  z-index: -1;
  transition: opacity 0.7s ease-in-out;
}

#transparentbgScript, #containerScript, #transparentbgScript *, #containerScript * {
  /* Add this to your existing CSS properties */
  transition: border .2s, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
  user-select: none;
  z-index: 1;
}

  .container {
    height: 100%;
    padding-right: auto;
    padding-left: auto;
    left: 41vw;
    right: 41vw;
    transition: opacity 0.7s ease-in-out;
    max-height: fit-content ;
    position: absolute;
    top: 0;
    width: 18vw;
    text-align: center;
  }

  .info_container{
    text-align: center;
    width: 100%;
  }

  .icon{
    margin-top: 9vmin;
    margin-bottom: 0.5vmin;
    width: 7vw;
    height: 8vw;
    border-radius: 72%;
    user-select: none;
  }

  .name{
    font-weight: 400;
    font-size: 2.9vw;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    font-family: "Lovelo black";
    text-transform: uppercase;
    color: #000;
    width: 100%;
  }

  .margin-top-2{
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 2vmin;
    font-size: 1.54vw;
    letter-spacing: 0.03vw;
    font-weight: 400;
    color: #000;

  }

  .links-container {
    display: grid;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    border-radius: 2vmin;
    background: #a6a6a6;
    width: 18vw;
    height: 60vmin;
    position: absolute;
    row-gap: 0vmin;
    transition: all .2s;
    grid-template-rows: 1.2vmin 4.5vmin 2vmin 4.5vmin 2vmin 4.5vmin 2vmin 5vmin 2vmin 4.5vmin 2vmin 4.5vmin 2vmin 4.67vmin 1.8vmin 4.5vmin 2vmin;
  }
   
  
  .button_link {
    position: relative;
    width: 14.6vw;
    height: 4.5vmin;
    background-color: #737373;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 1vmin;
    align-items: center;
    transition: all .2s;
    border: 0.19vw solid #737373;
    font-weight: 200;
    font-size: 1.46vw;
  }

  .button_link:hover{
    border: 0.19vw solid black;
  }
  

  .button_link_last{
    font-size: 0.78vw;
  }

.DeviantIconStyles{
  margin-left: -0.9vw;
  margin-right: 1vw;
  width: 2.2vw;
  height: 3vmin;
}

.InstagramIconStyles{
  margin-left: -0.8vw;
  margin-right: 1vw;
  width: 2.2vw;
  height: 3vmin;
}

.TwitterIconStyles{
  margin-left: -2.7vw;
  margin-right: 1.3vw;
  width: 2.2vw;
  height: 4vmin;
}

.PinterestIconStyles{
  margin-left: -1.7vw;
  margin-right: 1.3vw;
  width: 2.2vw;
  height: 4vmin;
}

.TwitchIconStyles{
  margin-left: -1.7vw;
  margin-right: 1.3vw;
  width: 2.2vw;
  height: 4vmin;
  margin-top: 0.3vmin;
}

.TikTokIconStyles{
  margin-left: -2.4vw;
  margin-right: 2vw;
  width: 2.2vw;
  height: 3vmin;
}

.LastTikTokIconStyles{
  margin-left: 0.3vw;
  margin-right: 0.7vw;
  width: 2.2vw;
  height: 3vmin;
}

.DiscordIconStyles{
  margin-left: 0vw;
margin-right: 0.68vw;
width: 2.2vw;
height: 4vmin;

}    

.KofiIconStyles{
  margin-left: -0.2vw;
  margin-right: 0.7vw;
  width: 2.2vw;
  height: 3vmin;
}




  .ShowHideBtn{
    background-color: #d2dbe3;
    outline: none;
    border-radius: 3vmin;
    margin: 0;
    padding: 0;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 1vw;
    padding-left: 3vw;
    font-size: 1.89vw;
    position: absolute;
    top: 80vmin;
    left: -2vw;
    cursor: pointer;
    border: 0.2vmin solid black;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    color: black;
  }

  #ThreeDimensionBackgroundWrapper{
    width: 100vw;
    height: 100vh;
  }



  
  .hidden {
    opacity: 0;
    visibility: hidden;
}

#loader {
  display: grid;
  position: fixed;
  left: 0;
  top: 0vmin;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  grid-template-rows: 20vmin 10vmin;
  justify-items: center;
  justify-content: center;
  align-content: center;
  transition: top 3s;
  animation: slideUp 5s 5.4s forwards;
}

@keyframes slideUp {
  0%   {top: 0vmin;}
  100% {top: -400vmin; display: none;}
}


/*loader*/
.loaderAnimation {
  position: relative;
  margin: auto;
  width: 7.6vw;
  height: 8vmin;
  display: flex;
  justify-content: center;
}
.loaderAnimation .circle {
  position: absolute;
  width: 8vw;
  height: 8vmin;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 6s;
}
.loaderAnimation .circle:after {
  content: ' ';
  position: absolute;
  width: 0.5vw;
  height: 0.45vmax;
  border-radius: 5vmin;
  background: #fff;
}
.loaderAnimation .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loaderAnimation .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loaderAnimation .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loaderAnimation .circle:nth-child(5) {
  animation-delay: 960ms;
}
.loadingtext {
  font-size: 1.5vw;
  margin: 0;
  font-weight: 500;
}


@keyframes orbit { 
  0%   { transform:rotate(225deg); opacity: 1;
         animation-timing-function: ease-out; } 
    
  7%   { transform:rotate(345deg);
         animation-timing-function: linear; }
    
  30%   { transform:rotate(455deg);
          animation-timing-function: ease-in-out; }
    
  39%   { transform:rotate(690deg);
          animation-timing-function: linear; }
    
  70%   { transform:rotate(815deg); opacity: 1;
         animation-timing-function: ease-out; }
    
  75%   { transform:rotate(945deg); 
         animation-timing-function: ease-out; }
    
  76% { transform:rotate(945deg); opacity: 0; }
  100% { transform:rotate(945deg); opacity: 0; } 
}






@media (max-width: 500px){
  body {
    height: 100vh;
}

.Transparentbg {
  height: 280vmin;
}
  
.icon{
  margin-top: 19vmin;
  margin-bottom: 3vmin;
  width: 34vw;
  height: 34vmin;
  border-radius: 72%;
user-select: none;
}



.name {
  font-weight: 400;
  font-size: 10.9vw;
  margin-top: 0vmin;
  margin-bottom: 0vmin;
  font-family: "Lovelo black";
  text-transform: uppercase;
  color: #000;
  height: 12vmin;
  width: 100vw;
}

.margin-top-2 {
  text-align: center;
  margin-top: 0vmin;
  margin-bottom: 2vmin;
  font-size: 6.12vw;
  letter-spacing: 0.03vw;
  margin-left: 0.5vw;
  font-weight: 400;
  color: #000;
  width: 99vw;
  height: 10vmin;

}

.info_container {
  width: 100vw;
}


.container {
  width: 100vw;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  left: 0vw;
    right: 0vw;
}

  .links-container {
    display: grid;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    border-radius: 5vmin;
    background: #a6a6a6;
    width: 66vw;
    height: 133vmin;
    position: absolute;
    border-left: hidden;
    margin-right: 5.8vw;
    row-gap: 0vmin;
    transition: all .2s;
    grid-template-rows: 2.2vmin 12.5vmin 2vmin 12.5vmin 2vmin 12.2vmin 2vmin 10vmin 4.5vmin 5.5vmin 9.2vmin 5.5vmin  9.2vmin 5.5vmin 9.2vmin 5.5vmin 9.2vmin;
    left: 18vw;
    margin-left: 0;
}
 
.button_link {
  position: relative;
  width: 55.6vw;
  height: 11vmin;
  background-color: #737373;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5vmin;
  align-items: center;
  transition: all .2s;
  border: 0.7vw solid #737373;
  font-weight: 200;
  font-size: 5.69vw;
  left: 1.2vw;
}

.button_link:hover{
  border: 0.7vw solid black;
}

.DeviantIconStyles {
  margin-left: -3.9vw;
  margin-right: 4vw;
  width: 4.2vw;
  height: 8vmin;
}

.InstagramIconStyles {
  margin-left: -3.9vw;
  margin-right: 4vw;
  width: 6.2vw;
  height: 8vmin;
}

.TwitterIconStyles {
  margin-left: -9.9vw;
  margin-right: 7vw;
  width: 8.2vw;
  height: 8vmin;
}

.PinterestIconStyles {
  margin-left: -6.9vw;
  margin-right: 4vw;
  width: 8.2vw;
  height: 8vmin;
}

.TwitchIconStyles{
  margin-left: -6.9vw;
  margin-right: 4vw;
  width: 8.2vw;
  height: 8vmin;
}

.TikTokIconStyles {
  margin-left: -11.9vw;
  margin-right: 8vw;
  width: 8.2vw;
  height: 8vmin;
}

.button_link_last {
  font-size: 3.2vw;
}

.LastTikTokIconStyles {
  margin-left: 1.1vw;
  margin-right: 2vw;
  width: 8.2vw;
  height: 8vmin;
}

.DiscordIconStyles {
  margin-left: 0vw;
  margin-right: 2vw;
  width: 8.2vw;
  height: 8vmin;
}

.KofiIconStyles{
  margin-left: 1.1vw;
  margin-right: 2vw;
  width: 8.2vw;
  height: 8vmin;
}

.ShowHideBtn {
  bottom: 0;
  background-color: #d2dbe3;
  outline: none;
  border-radius: 8vmin;
  margin: 0;
  padding: 0;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  padding-right: 6vw;
  padding-left: 11vw;
  font-size: 6.5vw;
  position: absolute;
  top: 228vmin;
  left: -6.7vw;
  cursor: pointer;
  border: 0.7vmin solid black;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  height: 15vmin;
 
}

#ThreeDimensionBackgroundWrapper {
  width: 88vw;
  height: 110vh;
}

#loader {
  display: grid;
  position: fixed;
  left: 0;
  top: 0vmin;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  grid-template-rows: 52vmin 10vmin;
  justify-items: center;
  justify-content: center;
  align-content: center;
  transition: top 3s;
  animation: slideUp 3s 5.4s forwards;
}

@keyframes slideUp {
  0%   {top: 0vmin;}
  100% {top: -400vmin; display: none;}
}


/*loader*/
.loaderAnimation {
  position: relative;
  margin: auto;
  width: 42.6vw;
  height: 58vmin;
  display: flex;
  justify-content: center;
}
.loaderAnimation .circle {
  position: absolute;
  width: 75vw;
  height: 27vmin;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 6s;
}
.loaderAnimation .circle:after {
  content: ' ';
  position: absolute;
  width: 3vw;
  height: 2.75vmin;
  border-radius: 5vmin;
  background: #fff;
}
.loaderAnimation .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loaderAnimation .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loaderAnimation .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loaderAnimation .circle:nth-child(5) {
  animation-delay: 960ms;
}
.loadingtext {
  font-size: 7vw;
  margin: 0;
  font-weight: 500;
}



  
}




